__pycache__/
*.py[cod]
*.log
*.mat
.idea
preprocess
preprocessed
store_model
store_physnet_model
PreprocessedData
PreTrainedModels
runs
temp
facial_region_test.py
interp_test.py
debug_utils.py
multi_test.py
neural_methods/trainer/PhysnetTrainer_backup.py
debug_utils_physnet.py
test.yaml
*.err
*.txt
*.mp4
*.avi

# Ignore training and testing output directories
train_runs/
test_runs/
scripts/test_runs/
scripts/train_runs/
scripts/PreprocessedData/
